body {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.cursor-pointer { cursor: pointer !important; }

#hero-homepage {
    height: calc(100vh - 64px);
    overflow-x: hidden;

    .hero__background-overlay {
        background-image: url('./../assets/images/hero-background.png');
        position: absolute;
        top: -8%;
        right: -55%;
        z-index: -10;
        height: 605px;
        width: 100%;
        background-repeat: round;
        height: 100vh;
        overflow-x: hidden;
    }

    .row:first-child {
        height: calc(100vh - 84px);
    }
    .hero__title {
        font-size: 64px;
        font-weight: 800;
    }
    .hero__subtitle {
        margin-top: 1.25rem;
        font-size: 27px;
        font-weight: 300;
    }
    .hero__background {
        .hero__car-img {
            height: 450px;
            width: 100%;
            position: relative;
            z-index: 0;
            filter: drop-shadow(34px 27px 65px $color-black)
        }
    }
}

.car__card {
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .car__card__header {
        border-radius: 1rem 1rem 0 0;
        height: 11rem;

        & img {
            width: 70%;
            top: 12%;
            left: 14%;
        }

        .card__header-make {
            top: 9%;
            left: 4%;
        }

        .card-title {
            top: 20%;
            left: 4%;
        }
    }
}

.modal-content { border-radius: 1rem; }