
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'variables';
@import 'layout';