<div class="container d-flex flex-row justify-content-center align-items-center" id="hero-homepage">
    <div class="d-flex flex-column">
        <h1 class="hero__title">Search and rent a car - Quickly and easily!</h1>
        <p class="hero__subtitle">Streamline your car rental experience with our effortless booking process.</p>
        <button class="btn btn-primary rounded-pill btn-lg mt-5">Explore Cars</button>
    </div>
    <div class="hero__background position-relative">
        <img src="../../../../../assets/images/car-hero.png" alt="" class="hero__car-img">
        <div class="hero__background-overlay"></div>
    </div>
</div>
