<section id="hero-homepage">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 d-flex flex-column">
                <h1 class="hero__title">Search and rent a car - Quickly and easily!</h1>
                <p class="hero__subtitle">Streamline your car rental experience with our effortless booking process.</p>
                <button class="btn btn-primary rounded-pill btn-lg mt-5">Explore Cars</button>
            </div>
            <div class="col-12 col-md-7 hero__background position-relative">
                <img src="../../../../../assets/images/car-hero.png" alt="" class="hero__car-img">
                
            </div>
        </div>
    </div>
    <div class="hero__background-overlay"></div>
</section>
